.ant-popover-inner-content{
  padding: 5px 16px;
  :local(.homeLogoutBtn){
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    color: #4a4a4a;
    &:hover,&:active{
      color: #926dea;
    }
  }
}
:local(.storyContainer){
  height: 100%;
  :local(.homeTop){
    padding: 8px 15px;
    background:#F4F5F6;
    display: flex;
    justify-content: space-between;
    :local(.homeAddBtn){
      color: #7CB2F1;
    }
    :local(.homeLogoutSvg){
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
      margin-right: 10px;
      cursor: pointer;
    }
    :local(.homeLogoutBtn){
      margin-left: 10px;
      color: #926dea;
    }
  }
  :local(.homeContent){
    :local(.homeContentTop){
      display: flex;
      :local(.homeCard){
        background: #F4F5F6;
        border: 1px solid #eee;
        margin: 10px;
        padding: 20px 15px;
        border-radius: 5px;
        :local(.homeCardTitle){
          font-size: 16px;
          padding-bottom: 8px;
          svg {
            cursor: pointer;
            height: 12px;
            width: 12px;
            margin-left: 5px;
            fill: #ccc;
            &:hover{
              fill: #926dea;
            }
          }
        }
        :local(.homeCardItem){
          background: aliceblue;
          border: 1px solid #eee;
          padding: 8px 12px;
          width: 250px;
          height: 107px;
          margin-bottom: 8px;
          :local(.homeCardItemTitle){
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            height: 35px;
            border-bottom: 1.5px dashed #fff;
            :local(.defaultValue){
              cursor: pointer;
              padding: 0px 3px;
              height: 25px;
              background: #FFFFFF;
              border-radius:100px;
              border:1px solid #D8D8D8;
              display: inline-block;
              > span {
                display: inline-block;
                font-size: 12px;
              }
              :local(.dot) {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 4px;
              }
            }
            svg {
              cursor: pointer;
              height: 12px;
              width: 12px;
              margin-left: 5px;
              fill: #ccc;
              &:hover{
                fill: #926dea;
              }
            }
          }
          :local(.homeCardItemContent){
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            padding: 5px 0px;
            span {
              width: 82%;
            }
            .anticon{
              color: #984f6b!important;
              cursor: pointer;
            }
            :local(.homeCardItemContentSvg){
              cursor: pointer;
              height: 10px;
              width: 10px;
              margin-left: 2px;
              fill: #ccc;
              position: relative;
              top: 3px;
              &:hover{
                fill: #926dea;
              }
            }
            :local(.homeCardItemContentMoveSvg){
              cursor: pointer;
              height: 10px;
              width: 10px;
              margin-left: 2px;
              fill: #ccc;
              position: relative;
              top: 3px;
              &:hover{
                fill: #926dea;
              }
            }
          }
        }
      }
      :local(.homeContentAddCol){
        margin: 10px;
        // margin-left: 0px;
        color: #926dea;
      }
    }
    :local(.homeContentAddRow){
      margin: 10px;
      color: #7CB2F1;
    }
  }
  :local(.homeNoContent){
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
:local(.selector){
  display: flex;
  :local(.defaultValue){
    cursor: pointer;
    > span {
      display: inline-block;
      font-size: 12px;
    }
    :local(.dot) {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 4px;
    }
  }
}
